<%= @article.title %>
<%= @article.content %>
<form action="/articles/<%= @article.id %>" method="POST">
  <div>
    <label for="name"> Article Title</label>
    <input type="text" name="title" value="@article.title">
  </div>

  <div>
    <label for="content"> Article Content</label>
    <input type="text" name="content" value="@article.content">
  </div>
    <input type="submit" name="submit" value="submit">
    <input id="hidden" type="hidden" name="_method" value="patch">

</form>

<!-- <form method = "post" action = "/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">

<input type = "text" name = "title" value = "<%= @article.title %>">
<textarea name = "content" value = "<%= @article.content %>">

<input type = "submit">
</form> -->
