<form method="post" action="/posts/<%=@post.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <h1>Current Name: <%=@post.name%></h1>
  <h1>Current Content: <%=@post.content%></h1>

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="<%=@post.name%>">
  <label for="content">Content: </label>
  <input type="text" name="content" id="content" value="<%=@post.content%>">
  <button type="submit" value="submit">Submit</button>
</form>
