<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Article</title>
  </head>
  <body>
    <article>
      <p>Article No. <%= @article.id %></p>
      <p><%= @article.title %></p>
      <p><%= @article.content %></p>
    </article>
    <!-- <form action="/articles/<%= @article.id %>/edit" method="get">
      <input type="submit" value="Edit">
    </form>-->
    <form action="/articles/<%= @article.id %>" method="post">
      <input type="hidden" name="_method" id="hidden" value="delete">
      <input type="submit" name="" value="Delete">
    </form>
  </body>
</html>
