<!-- <p>Title: <%=:title%></p>
<p>Content: <%=:content%></p>
<p><%=@article(:title)%></p>
<p><%=@article(:content)%></p>
<p><%=@article(title)%></p>
<p><%=@article(content)%></p> -->


<!-- <p>Title: <%= @article.title %></p> -->
<p>Content: <%= @article %></p>
