<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
</head>
<body>
  <h2><em>Post</em></h3>
  <h3><%= @post.name %></h3>   
  <h4><%= @post.content %></h4>
  <p><a href="<%="http://localhost:9393/posts/#{@post.id}/edit" %>">Edit</a></p>
  <p><a href="<%="http://localhost:9393/posts/#{@post.id}/delete" %>">Delete</a></p>
  <p><a href="<%="http://localhost:9393/posts" %>">Homepage</a></p>

  <h2>Delete your post?</h2>
  <form action="/posts/<%=@post.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  
  <input id="delete" type="submit" value="delete">
</form>
</body>
</html>