<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Posts</title>
</head>
<body>
  <h2><em>Post</em></h3>
  <h3><%= @post.name %></h3>
  <h4><%= @post.content %></h4>  
  <p><a href="<%="http://localhost:9393/posts/#{@post.id}/edit"%>">Edit Post</a></p>
  <p><a href="<%="http://localhost:9393/posts/#{@post.id}/delete"%>">Delete Post</a></p>
  <p><a href="<%="http://localhost:9393/posts"%>">All Post</a></p>
</body>
</html>