<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>POSTS!</title>
  </head>
  <body>
    <h1>PostBook</h1>
    <h2>JUST THAT ONE POST!!!</h2>

    <h3><%=@post.name%></h3>
    <p><%=@post.content%></p>
    <form action="/posts/<%=@post.id%>/delete" method="POST">
      <h3>Post: <%=@post.name%> was deleted</h3>
      <p><%=@post.content%> is gone forever</p>
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button id="delete" type="delete" value="deletes">deletes</button>
    </form>

  </body>
</html>
