<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title></title>
  </head>
  <body>
    
    <h1>Article: <%= @article.id.to_s %></h1>
    
    <h2><%= @article.title %></h2>
    <p><%= @article.content %></p>
    
    <form action="/articles/<%=@article.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button type="submit" value="delete">delete</button>
      
      <!--<input type="submit" value="submit">-->
    </form>
    
   <!-- <div>
      <form action="/articles/<%=@article.id%>/edit" action="GET">
        <input type="submit" value="submit">
      </form>
    </div> -->
    
    </br>
    
    <a href="/articles">Articles</a>
    <a href="/">Main Page</a>

  </body>
</html>
